# Node / Electron
node_modules/
build-out/
dist/
out/
release/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.map
*.asar
*.pdb

# Release artifacts
*.exe
*.blockmap
*.dmg
*.AppImage
*.snap
*.msi
*.zip
*.7z

# OS junk
.DS_Store
Thumbs.db
*.sha256
